.selectclass{
    margin-right: 10px;
}

/* .searchC{
    padding-left: .7rem;
    padding-right: .7rem;
    padding-bottom: .7rem;
    border-color: rgb(241, 241, 243);
}

input{
    padding: .2rem .2rem .2rem .8rem;
    border-radius: .3rem;
    border-color: rgb(211, 211, 211);
}

.my-pagination ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #0d6efd;
    color: #fefefe;
    cursor: pointer;
    border-radius: 0.2rem;
}

.my-pagination ::ng-deep .ngx-pagination :hover {
  border-radius: 0.2rem;
}

.my-pagination ::ng-deep .ngx-pagination a, .ngx-pagination button{
  text-decoration: none;
} */

.noRecord{
  padding: 2rem 2rem 2rem 4rem;
  font-weight: bold;
  font-size: large;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}