<mat-form-field appearance="fill">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. s20" #input />
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>

<div class="row">
  <div class="col-md-4" *ngFor="let product of obs | async" #someVar>
    <app-product-item
      [productItem]="product"
      [addedToWishlist]="wishlist.indexOf(product.id) >= 0"
      (buttonClick)="onChangeLoadWishList($event)"
    ></app-product-item>
  </div>
</div>

<div *ngIf="filteredItems?.length == 0">
  <div class="noRecord" align="center">
    <i class="fa fa-info-circle" aria-hidden="true"></i> Sorry, we couldn't find
    any products matching "{{ input.value }}"
  </div>
</div>

<mat-paginator
  [pageSizeOptions]="[6, 12, 24]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
