.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 1%;
    box-shadow: 0 0 10px 0 rgb(160, 160, 196);
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}

img{
    object-fit: contain;
    max-height: 550px;
}

mat-card{
    margin: 1% 3%;
}

.first{
    width: 40%;
}
.second{
    width: 60%;
    padding-left: 4%;
}

@media screen and (max-width:999px) {
    .first,
    .second{
        width: 100%;
        height: auto;
    }
    
}

@media screen and (min-width:1000px) and (max-width:1250px) {
    img{
        min-height: 630px;
    }
    
}