.card{
    margin-top: 50px;
}

.container{
    align-items: center;
}

@media screen and (max-width:1000px) {
    .filters{
        
    }
    .row>*{
        width: 100%;
        padding: 2%;
    }    
}