<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 bg-secondary bg-opacity-10">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Create Account</h3>
  
                <!-- Sign In Form -->
                <form #registrationForm="ngForm" (ngSubmit)="registerUser()">
                    <!-- <div [class.d-none]="msg.status==500" class="alert alert-danger">{{msg.message}}</div> -->
                    <div *ngIf="msg.length>0" class="alert alert-info text-center">{{msg}}</div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="example@example.com" class="form-control" [(ngModel)]="user.emailId" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                        #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched"
                        >
                        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required field</small> -->
                        <div *ngIf="email.errors && (email.invalid && email.touched)">
                            <small class="text-danger" *ngIf="email.errors?.['required']">Email Id is required field</small>
                            <small class="text-danger" *ngIf="email.errors?.['pattern']">Enter valid Email ID</small>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label for="username">UserName</label>
                        <input id="username" name="username" type="text" placeholder="example123" class="form-control" [(ngModel)]="user.userName" required #username="ngModel"
                        [class.is-invalid]="username.invalid && username.touched"
                        >
                        <small class="text-danger" [class.d-none]="username.valid || username.untouched">User Name is required field</small>
                    </div><br>
        
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" class="form-control" [(ngModel)]="user.password" required #password="ngModel"
                        [class.is-invalid]="password.invalid && password.touched"
                        >
                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
                    </div><br>

                    <div class="form-group">
                        <label for="cpassword">Confirm Password</label>
                        <input id="cpassword" name="cpassword" type="password" class="form-control" (ngModel)="user.password" required #cpassword="ngModel"
                        [class.is-invalid]="cpassword.invalid && cpassword.touched"
                        >
                        <small class="text-danger" [class.d-none]="(password.value == cpassword.value) || password.untouched">Password & Confirm Password must match</small>
                    </div><br>

        
                    <button [disabled]="registrationForm.form.invalid" type="submit" class="btn btn-primary w-100">Register</button>
                </form>
                <small class="float-end">Existing User? <a class="text-decoration-none" [routerLink]="['/login']">Login Here</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>