<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top" height="300px" width="200px" [src]="productItem.imageUrl">
    <div class="card-body">
      <p class="card-text">
        <strong>{{productItem.name}}</strong>
        <i *ngIf="addedToWishlist" class="fas fa-heart float-end" (click)="handleRemoveFromWishlist()"></i>
        <i *ngIf="!addedToWishlist" class="far fa-heart float-end" (click)="handleAddToWishlist()"></i>
      </p>
      <p class="card-text">{{productItem.description}}</p>
      <p class="card-text">
          <strong>{{ productItem.price | currency:'INR'}}</strong>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddtocart()">Add to Cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
        </div>
      </div>
    </div>
    </div>