<div class="cart-item">
  <p>
    <span>{{ cartItem.productName }}</span>
  </p>
  <div id="cart-row">
    <div class="cart-row-line">
      <div>
        <button class="qbutton" (click)="decreaseQuantity()">-</button>
        <span> {{ cartItem.qty }} </span>
        <button class="qbutton" (click)="increaseQuantity()">+</button>
      </div>
      <div>
        <strong>{{ cartItem.qty * cartItem.price | currency : "INR" }}</strong>
      </div>
    </div>
    <button class="btn-dlt cart-row-line" (click)="deleteCart()">
      <span class="material-symbols-rounded"> cancel </span>
    </button>
  </div>
</div>
