<div>
  <app-nav></app-nav>
</div>
<div class="container">
  <!-- <table class="table table-bordered">
    <thead class="table-secondary">
      <tr>
        <th>OrderId</th>
        <th>Order Date</th>
        <th>Products</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.products}}</td>
        <td>{{order.total}}</td>
      </tr>
    </tbody>
  </table> -->

  <table class="table-bordered">
    <thead class="table-secondary">
      <tr>
        <th>OrderId</th>
        <th>Order Date</th>
        <th>Products</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.products}}</td>
        <td>{{order.total}}</td>
      </tr>
    </tbody>
  </table>

</div>