<div>
  <app-nav></app-nav>
</div>
<div class="container">
  <!-- <table class="table table-bordered">
    <thead class="table-secondary">
      <tr>
        <th>OrderId</th>
        <th>Order Date</th>
        <th>Products</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.products}}</td>
        <td>{{order.total}}</td>
      </tr>
    </tbody>
  </table> -->

  <!-- <table class="table-bordered">
    <thead class="table-secondary">
      <tr>
        <th>OrderId</th>
        <th>Order Date</th>
        <th>Products</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.orderDate}}</td>
        <td>{{order.products}}</td>
        <td>{{order.total}}</td>
      </tr>
    </tbody>
  </table> -->


  <div class="card shadow p-3 mb-4 bg-white rounded" *ngFor="let order of orders">
    <div class="card-title shadow-sm rounded">
      <strong>OrderID : #00{{order.orderId}}</strong>
    </div>
    <div class="row">
      <div class="col-md-5">
        <strong class="text-secondary">Order By : </strong>{{order.name}}<br>
        <strong class="text-secondary">Contact No : </strong>{{order.phoneNo}} <br>
        <strong class="text-secondary">Delivery Address : </strong>{{order.address}} <br>
        <strong class="text-secondary">Ordered At : </strong>{{order.orderDate}}
      </div>
      <div class="col-md-4">
        <strong class="text-secondary"> Products : </strong><br>
        <!-- {{order.products}} --> <p [innerText]="order.products"></p>
      </div>

      <div class="col-md-3">
        <div class="float-end">
          <strong class="text-secondary">Total Price : </strong>{{order.total}}
        </div>
      </div>
    </div>
  </div>

</div>