
.card{
    border-radius: 0%;
}

.card-title{
  background-color: rgb(246, 246, 246);
  width: 10%;
  border-radius:1em;
  text-align: center;
}


.d-flex {
    display: flex!important;
    justify-content: space-between;
}
.detail-flex {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #0d6efd;
    color: #fefefe;
    cursor: pointer;
    border-radius: 0.2rem;
}

.my-pagination ::ng-deep .ngx-pagination :hover {
  /* background: #c9d6e9; */
  border-radius: 0.2rem;
}

.my-pagination ::ng-deep .ngx-pagination a, .ngx-pagination button{
  text-decoration: none;
}
