<div class="mine">
  <div class="container-fluid ps-md-0">
    <div class="row g-0 bord">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6 bg-light">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome to MyShoppingCart</h3>

                <!-- Sign In Form -->
                <form #loginForm="ngForm" id="lform" (ngSubmit)="loginUser()">
                  <div *ngIf="msg.length > 0" class="alert alert-danger">
                    {{ msg }}
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      id="email"
                      placeholder="Enter your registered Email ID"
                      name="email"
                      type="email"
                      class="form-control"
                      [(ngModel)]="user.emailId"
                      required
                      pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                      #email="ngModel"
                      [class.is-invalid]="email.invalid && email.touched"
                    />
                    <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required field</small> -->
                    <div *ngIf="email.errors && email.invalid && email.touched">
                      <small
                        class="text-danger"
                        *ngIf="email.errors?.['required']"
                        >Email Id is required field</small
                      >
                      <small
                        class="text-danger"
                        *ngIf="email.errors?.['pattern']"
                        >Enter valid Email ID</small
                      >
                    </div>
                  </div>
                  <br />

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      id="password"
                      name="password"
                      type="password"
                      placeholder="Enter your password"
                      class="form-control"
                      [(ngModel)]="user.password"
                      required
                      #password="ngModel"
                      [class.is-invalid]="password.invalid && password.touched"
                    />
                    <small
                      class="text-danger"
                      [class.d-none]="password.valid || password.untouched"
                      >Password is required field</small
                    >
                  </div>
                  <br />

                  <div class="form-group">
                    <input type="checkbox" id="remember" />
                    <label class="ms-1 mb-3" for="remember">Remember Me</label>
                  </div>

                  <button
                    [disabled]="loginForm.form.invalid"
                    type="submit"
                    class="btn btn-primary w-100"
                  >
                    Login
                  </button>
                </form>
                <small class="float-end"
                  >New User?
                  <a class="text-decoration-none" [routerLink]="['/register']"
                    >Register Here</a
                  ></small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
