<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom bg-dark bg-gradient bg-opacity-80">
    <app-header></app-header>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Enterprise</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Support</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Pricing</a>
      <a class="me-3 py-2 text-white text-decoration-none"><i class="fa fa-user-circle" aria-hidden="true">{{user.userName}}</i></a>
      <a class="me-3 py-2 text-white text-decoration-none" [routerLink]="['/login']" (click)="loggedOutUser()"><i class="fa fa-sign-out"></i> Logout</a>
    </nav>
    <!-- <a class="btn btn-outline-primary" [routerLink]="['/register']">Sign Up</a>
    <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a> -->
</div>