
/* this css property is for the products list */

table {
  width: 100% !important;
}

.demo-button-container {
  padding-right: 2.5rem;
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

img{
  object-fit: contain;
}


.mat-expansion-panel {
  border-radius: 0;
  box-shadow: none;
}
.mat-expansion-panel-body {
    padding: 0;
}

.mat-expansion-panel-header {
  padding: 0; 
}


/* Css property for expanded table */

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}


.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

/* CSS property for the buttons in expansion pannel */
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

h.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}
/* .image{
  height: 10rem;
} */
